<?xml version="1.0" encoding="UTF-8"?>
<phpunit
        bootstrap="vendor/autoload.php"
        colors="true"
        error_reporting="E_ALL"
        convertErrorsToExceptions="true"
        convertNoticesToExceptions="true"
        convertWarningsToExceptions="true"
        processIsolation="false"
        stopOnFailure="false"
        verbose="true"
>
    <testsuites>
        <testsuite name="Application Test Suite">
            <directory>tests</directory>
            <directory>tests/PHPUnit</directory>
        </testsuite>
    </testsuites>

    <php>
        <env name="APP_ENV" value="test"/>
        <env name="APP_DEBUG" value="1"/>
        <env name="DATABASE_URL" value="mysql://root:5869@127.0.0.1:3306/checkout?serverVersion=8.0.32"/>
        <env name="MAILER_DSN" value="null://localhost"/>
    </php>

    <logging>
        <log type="junit" target="tests/logs/junit.xml" />
    </logging>
</phpunit>
